@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <h1>Formulaire d'importation de clé</h1>
    <form asp-action="ImportKey" method="post">
        <div class="form-group">
            <label for="textareaElement">Entrez le code de la clé</label>
            <textarea class="form-control" id="textareaElement" rows="4" name="key"></textarea>
            <label for="name">nom de la clé</label>
            <input type="text" id="name" name="name" />
        </div>
        <button type="submit" class="btn btn-primary">Importer</button>
    </form>
</div>