@{
    ViewData["Title"] = "Home Page";
}
@model List<Key>

<form asp-action="Result" method="post">
    <select name="KeyId">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <option value="@Model[i].id">@Model[i].name</option>
        }
    </select>
    <textarea id="message" name="message" rows="4" cols="50">
    </textarea>
    <button type="submit">Importer</button>
</form>